<div class="home_wrap">  
  <p><%= @message %></p>
  <table class="ecc_table">
    <tr class="dropdown">
      <% @categories.each_with_index do |c,i| %>
        <th class="dropdown_th">
          <%= c.name %>
          <div class="dropdown_type">
            <% c.prod_types.each do |t| %>
              <%= link_to t.name, type_path(t) %>
            <% end %>
          </div>
        </th>
      <% end %>
    </tr>
  </table>
  <div class="ninku_title">
    Best seller
  </div>
  <div class="ninki_product">
    <div class="best_seller">
      <div class="prod_head">
        <%= @best_seller.name %>
      </div>
      <div class="prod_body">
        <div><%= t('prod_price', price: @best_seller.price) %></div>
        <div><%= @best_seller.prod_categorie.name %></div>
        <div><%= @best_seller.prod_type.name %></div>
        <div><%= @best_seller.supplier.name %></div>
      </div>
    </div>
    <div class="good_seller">
      <% @ninki_product.each do |prod| %>
        <div class="gs_prod">
          <div class="prod_head">
            <%= prod.name %>
          </div>
          <div class="prod_body">
            <div><%= t('prod_price', price: @best_seller.price) %></div>
            <div><%= prod.prod_categorie.name %></div>
            <div><%= prod.prod_type.name %></div>
            <div><%= prod.supplier.name %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="last_chance_title">
    Soon sold out
  </div>
  <div class="last_chance_product">
    <% @soon_sold_out.each do |prod| %>
      <div class="ls_prod">
        <div class="prod_head">
          <%= prod.name %>
        </div>
        <div class="prod_body">
          <div class="bind"><%= prod.stock %> on stock</div>
          <div><%= prod.price %> $</div>
          <div><%= prod.prod_categorie.name %></div>
          <div><%= prod.prod_type.name %></div>
          <div><%= prod.supplier.name %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
