<div class="products_index_wrap">
  <div class="result_count">
    <%= t('result_count', count: @products.count) %>
  </div>
  <table class="prod_table">
    <tr>      
        <th><%= t(:name_attr)%></th>
        <th><%= t(:prod_price)%></th>
        <th><%= t(:prod_stock)%></th>
        <th><%= t(:prod_weight)%></th>
        <th><%= t(:prod_supplier)%></th>
    </tr>
    <% @products.each do |p| %>
      <tr class="product_td">
        <td><%= link_to p.name, products_show_path(p) %></td>
        <td><%= t('prod_price_format', price: p.price) %></td>
        <td><%= p.stock %></td>
        <td><%= p.weight %></td>
        <td><%= p.supplier.name %></td>
      </tr>
    <% end %> 
  </table>
</div>
