<div class="products_show_wrap">
  <table class="first_table">
    <tr>      
      <th><%= t(:name_attr)%></th>
      <th><%= t(:prod_price)%></th>
      <th><%= t(:prod_stock)%></th>
      <th><%= t(:prod_weight)%></th>
      <th><%= t(:categorie_attr)%></th>
      <th><%= t(:type_attr)%></th>
    </tr>  
    <tr class="product_td">
      <td><%= @product.name %></td>
      <td><%= @product.price %></td>
      <td><%= @product.stock %></td>
      <td><%= @product.weight %></td>
      <td><%= @product.prod_categorie.name %></td>
      <td><%= @product.prod_type.name %></td>
    </tr>
  </table>
  <table class="second_table">
    <tr>      
        <th><%= t(:name_attr)%></th>
        <th><%= t(:email_attr)%></th>
        <th><%= t(:fuken)%></th>
        <th>ZIP</th>
        <th><%= t(:address)%></th>
    </tr>
    <tr>
      <td><%= link_to @product.supplier.name, supplier_path(@product.supplier)%></td>
      <td><%= @product.supplier.email %></td>
      <td><%= @product.supplier.supplier_address.fuken.name %></td>
      <td><%= @product.supplier.supplier_address.zip %></td>
      <td><%= @product.supplier.supplier_address.addr_1 %> <%= @product.supplier.supplier_address.addr_2 %></td>
    </tr>  
  </table>
  <div class="add_cart_wrap">
    <%= form_for(:product, url: carts_create_path) do |f| %>
      <div class="cart_label">
        <%= f.select :quantity,  options_for_select() %>
      </div>
      <div class="cart_submit">
        
      </div>
    <% end %>
  </div>
</div>
