<div class="supplier_wrap">
  <p>name: <%= @supplier.name %></p>
  <p>email: <%= @supplier.email %></p>
  <p>zip: <%= @supplier.supplier_address.zip %></p>
  <p>fuken: <%= @supplier.supplier_address.fuken.name %></p>
  <p>address: <%= @supplier.supplier_address.addr_1 %></p>
  <p>address: <%= @supplier.supplier_address.addr_2 %></p>
  
</div>
