<!DOCTYPE html>
<html>
  <head>
    <title>DBProject</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Home", home_page_home_path, method: :get %>
    </header>
    <div id="wrapper">
      <div class="logo">
        <h1>ECC Database training</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
